body {
	font-family: 'Quicksand', sans-serif;
	background-color: #8c9eff;
}

@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

#profile {
	height: 100vh; 
	width: 50vw;
	margin: 0;
	position: fixed;
	-webkit-animation: fadein 7s;
					animation: fadein 7s;
					line-height: 2rem;
}

#quote {
	font-family: 'Courier New', Courier, monospace;
	display: inline;
	position: relative;
	font-weight: bold;
	position: absolute;
	top: 37%;
	left: 75%;
	transform: translate(-50%, -50%);
	-webkit-animation: fadein 10s;
					animation: fadein 10s;
					line-height: 2rem;
}

#opener {
	display: inline;
	position: relative;
	font-weight: bold;
	position: absolute;
	top: 10%;
	left: 75%;
	transform: translate(-50%, -50%);
	-webkit-animation: fadein 10s;
					animation: fadein 10s;
					line-height: 2rem;
}

#name-logo {
  -webkit-animation: fadein 5s;
          animation: fadein 5s;
					line-height: 2rem;
}


#work-title {
	/* top: 20%;
	left: 20%;
	transform: translate(-50%, -50%); */
	-webkit-animation: fadein 5s;
          animation: fadein 5s;
					line-height: 2rem;
	position: relative;
}


#about {
	display: inline;
	position: relative;
	font-weight: bold;
	position: absolute;
	top: 70%;
	left: 75%;
	transform: translate(-50%, -50%);
	-webkit-animation: fadein 10s;
					animation: fadein 10s;
					line-height: 2rem;
}

#skills {
	display: inline;
	position: relative;
	font-weight: bold;
	position: absolute;
	text-align: center;
	top: 195%;
	left: 75%;
	transform: translate(-50%, -50%);
	-webkit-animation: fadein 10s;
					animation: fadein 10s;
					line-height: 2rem;
}

#WOF, #dinner, #kero {
	height: 250px;
	width: 400px;
	padding: 20px;
	position: relative;
	text-align: center;
	-webkit-animation: fadein 5s;
          animation: fadein 5s;
					line-height: 2rem;
}

@media only screen and (max-width : 992px) {
  position: absolute;
  top: 40%;
}
	
#index-banner .section {
  top: 10%;
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
#projects {
	display: inline;
	position: relative;
	font-size: 25px;
}

#contact {
	background-color: white;
	width: 400px;
}

#linkedin {
	width: 30%;
}

hr {
	width: 100%;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer {
	display: flex;
  justify-content: space-around;
}






